@import url('../../index.css');


.hotelCards {
    background-color: var(--neutral);
    display: flex;
    flex-direction: column;
    padding-top: 96px;
    padding-bottom: 96px;
    row-gap: 32px;
    justify-content: center;
    align-items: center;
}

.hotelCardsHeader {
    font-family: var(--title-font);
    font-size: 48px;
}

.searchAndFilter {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.selectContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.selectContainer > select {
    padding: 12px;
    border-radius: var(--radius-large);
    background-color: transparent;
}

.searchbar {
    width: 30%;
    padding: 12px;
    border: 1px solid var(--primary-dark);
    border-radius: var(--radius-medium);
    background-color: transparent;
    text-align: center;
    justify-self: center;
}

.searchbar:focus {
    outline: 1px solid var(--hover);
    transition: var(--transition);
}


@media screen and (max-width: 456px) {
    .hotelCards {
        padding: 48px 24px;
    }

    .hotelCardsHeader {
        font-size: var(--title-medium);
    }

    .searchbar {
        font-size: 12px;
        width: 80%
    }
}
