.card {
    display:flex;
    border-bottom: 1px solid black;
}

.card > img {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
    display: block;
    margin-right: 4px;
}

.nameAndMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nameAndMessage > p {
    max-width: 220px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nameAndMessage > p:nth-child(1) {
    font-weight: bold;
}

.messageSent {
    font-weight: bold;
}

.messageUnseen {
    display: list-item;
    list-style-image: url(/public/assets/icons/send.svg);
    list-style-position: inside;
}

.messageViewed {
    display: list-item;
    list-style-image: url(/public/assets/icons/send-check-fill.svg);
    list-style-position: inside;

}


.date {
    margin-left: auto;
}

@media only screen and (max-width: 1588px) {
    .date {
        display: none;
    }
}

@media only screen and (max-width: 1402px) {

    .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .nameAndMessage > p:nth-child(2) {
        display: none;
    }

}

@media only screen and (max-width: 768px) {


    .nameAndMessage > p:nth-child(1) {
        display: none;
    }

}

