.card {
    max-width: 100%;
    display:flex;
    border-bottom: 1px solid black;
}

.card > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: block;
    margin-right: 4px;
}

.nameAndMessage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 200px;

}

.nameAndMessage > p {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
}

.nameAndMessage > p:nth-child(1) {
    font-weight: bold;
}

.messageSent {
    font-weight: bold;
}

.messageUnseen {
    display: list-item;
    list-style-image: url(/public/assets/icons/send.svg);
    list-style-position: inside;
}

.messageViewed {
    display: list-item;
    list-style-image: url(/public/assets/icons/send-check-fill.svg);
    list-style-position: inside;

}


.date {
    margin-left: auto;
}
