.chatPage {
    height: 100vh;
    padding-top: 96px;
    display: flex;
    margin-left: 50px;
}

.left {
    width: 21%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.searchBar {
    display: flex;
}

.searchBar > img {
    display: block;
    margin: 0 18px;
}

.search {
    border: none;
    padding: 16px;
    border-radius: var(--radius-medium);
    width: 100%;
}


.right {
    width: 79%;
    background-color: var(--neutral);
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

.chatHeader {
    padding-left: 36px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 16px;
    position: sticky;
    top: 0;
    z-index: 1999;
}

.chatHeader > p {
    font-size: 24px;
    font-weight: bold;
}

.chatHeader > img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.messages {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: end;
    gap: 16px;
    padding: 0 86px;
}

.sendMessageContainer {
    height: 48px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding-right: 16px;
}

.sendMessageContainer > *{
    height: 100%;
}

.sendMessageContainer > input {
    background-color: white;
    display: block;
    border: 1px solid var(--primary-dark);
    flex-grow: 1;
    padding: 0 18px;
}

.sendMessageContainer > button {
    background-color: white;
    border: none;
    cursor: pointer;
}


@media only screen and (max-width: 1256px) {
    .chatPage {
        margin-left: 6px;
    }

    .messages {
        padding: 0 16px;
    }

    .search {
        min-width: 100px;
    }
    .searchBar > img {
        display: block;
        margin: 0;
    }


}


@media only screen and (max-width: 1048px) {
    .searchBar > img {
        display: none;
    }

}
